html {
    background-color: #eee;
}

.kaomoji {
    height: auto;
}

#container {
    max-width: none;
}

#container .group {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.kaomoji {
    background-color: #f2f2f2;
    border-color: #ddd;
}

::-webkit-scrollbar-track {
    background-color: #eee !important;
}

::-webkit-scrollbar-thumb {
    border-color: #eee !important;
}

#jump-to {
    color: #aaa;
}

#groups:hover #jump-to {
    color: #666;
}

#groups {
    opacity: 1;
    border: none;
    background-color: #fff;
}

#groups:hover {
    background-color: #fff;
}

#groups select {
    background-color: #eee;
    color: #444;
}
