/**
*** Copyright © 2013 Binary Elk <binary.elk@gmail.com>
*** This work is free. You can redistribute it and/or modify it under the
*** terms of the Do What The Fuck You Want To Public License, Version 2,
*** as published by Sam Hocevar. See the COPYING file for more details.
***
*** This program is free software. It comes without any warranty, to
*** the extent permitted by applicable law. You can redistribute it
*** and/or modify it under the terms of the Do What The Fuck You Want
*** To Public License, Version 2, as published by Sam Hocevar. See
*** http://www.wtfpl.net/ for more details.
**/

::-webkit-scrollbar {
    width:  14px;
    height: 14px;

    border-width: 0px;
}

::-webkit-scrollbar-track {
    margin:       0px;
    padding:      0px;
    border-width: 0px;

    background-color: #ddd;
}

::-webkit-scrollbar-thumb {
    border-width: 3px;

    border-style: solid;

    border-color: #ddd;
    background:   rgba(0, 0, 0, 0.25);

    min-height: 30px;

    border-radius: 9px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.55);
}
