#groups:hover {
    background-color: #fff;
}

#groups select {
    background-color: #eee;
    color: #444;
}

#groups {
    position: fixed;

    /* display: none;*/

    top:    0px;
    left:   0px;

    padding:  0px;
    margin:   0px;

    padding-left:   0px;
    padding-right:  0px;

    border: 3px solid #fff;

    border-top-width:   0px;
    border-left-width:  0px;

    border-radius: 8px;
    border-bottom-left-radius:  0px;
    border-top-left-radius:     0px;
    border-top-right-radius:    0px;

    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.30);

    opacity: 1.00;

    z-index: 4000;
}

#groups,
#groups select {
    background-color: #fff;
    color: #888;

    font-weight: bold;

    cursor: pointer;
}

#jump-to {
    cursor: pointer;

    position: fixed;
    content: "Jump to...";
    top:  2px;
    left: 7px;
    width: 80px;

    margin:  0px;
    padding: 0px;

    font-size:  16px;
    line-height: 16px;

    font-family:
        "Lucida Grande",
        "Segoe UI",
        sans-serif;

    font-weight: bold;
}

#groups:hover {
    color: #444;
}

#groups select {
    border: none;

    padding: 0px;

    opacity: 0.00;

    width:  90px;
    height: 22px;
}

#groups select:focus {
    outline: none;
}
