/**
*** Copyright © 2013 Binary Elk <binary.elk@gmail.com>
*** This work is free. You can redistribute it and/or modify it under the
*** terms of the Do What The Fuck You Want To Public License, Version 2,
*** as published by Sam Hocevar. See the COPYING file for more details.
***
*** This program is free software. It comes without any warranty, to
*** the extent permitted by applicable law. You can redistribute it
*** and/or modify it under the terms of the Do What The Fuck You Want
*** To Public License, Version 2, as published by Sam Hocevar. See
*** http://www.wtfpl.net/ for more details.
**/

html {
    background-color: #ddd;
    color: #444;
}

html,
body {
    margin:  0px;
    padding: 0px;
}

body {
    margin-left:  9px;
    margin-right: 9px;
}

a {
    text-decoration: none;
}

html,
body,
h1,
h2 {
    font-family:
        "Helvetica",
        "Arial",
        sans-serif;
}

h1,
h2 {
    text-align: center;

    font-size: 18px;

    padding: 10px;
    margin:   4px;
}

h2,
h2 a {
    color: #666;
}

#footer,
h2 {
    margin-top: 16px;
}

h1 {
    color: #fff;
    background-color: #ccc;

    border: 1px solid #bbb;
    border-top-width: 0px;
    border-bottom-color: #bbb;

    border-bottom-left-radius:  2px;
    border-bottom-right-radius: 2px;

    box-shadow: inset 0px 3px 0px rgba(0, 0, 0, 0.05);
}

#new-kaomoji-input,
.kaomoji {
    font-family: sans-serif;
    font-weight: normal;
    font-size:   16px;

    cursor: pointer;

    display: inline-block;

    color: #666;

    resize: none;

    height: 1.2em;

    min-width: 10em;

    border: 1px solid rgba(0, 0, 0, 0.10);

    margin:   3px;
    padding: 10px;

    vertical-align: top;

    background-color: transparent;

    background-color: #f0f0f0;

    border-radius: 2px;

    text-align: center;

    position: relative;
    top: 0px;
}

#new-kaomoji-input {
    cursor: auto;
    background: #fff;
    border-color: rgba(0, 0, 0, 0.20);
    border-radius: 0px;
}

.kaomoji.favorited {
    background-color: #fcfcfc;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.20);
}

.kaomoji.favorited:hover {
    background-color: #fff;
    border-bottom-color: rgba(0, 0, 0, 0.25);
}

.new-kaomoji {
    font-family: sans-serif;
    font-weight: normal;
    font-size:   16px;

    display: inline-block;

    color: #666;

    resize: none;

    height: 1.2em;

    min-width: 10em;

    border: 1px solid #e0e0e0;

    margin:   3px;
    padding: 10px;

    vertical-align: top;

    background-color: transparent;

    background-color: #f0f0f0;

    border-radius: 2px;

    text-align: center;

    position: relative;
    top: 0px;
}

.kaomoji:focus {
    outline: none;
}

.kaomoji:hover {
    background-color: #fafafa;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.10);
}

.kaomoji:active {
    background-image: none;
}

.kaomoji:active {
    background-color: #eee;

    box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.15);
    border-color: rgba(0, 0, 0, 0.15);
}

#container {
    list-style-type: none;

    padding: 0px;

    max-width: 760px;

    border: 0px solid #fff;

    border-top-width:    0px;
    border-bottom-width: 0px;

    margin-left:    auto;
    margin-right:   auto;
}

#footer {
    padding: 6px;

    text-align: center;

    font-size: 24px;

    font-weight: bold;
}

#footer a {
    color: rgba(0, 0, 0, 0.45);
    text-shadow: 0px 1px 1px #fff;
}

#footer a:hover {
    color: rgba(0, 0, 0, 0.55);
}

#footer #copyright:hover {
    color: #fff;
}

h1 a,
h1 {
    color: #444;
}

#footer,
#copyright {
    color: #ccc;
}

#footer p {
    margin: 2px;
}

#close-button,
#copyright {
    display: block;
}

#container .group {
    cursor: pointer;

    background-color: #eee;
    padding: 2px;
    border-radius: 2px;
    margin-bottom: 0px;
    text-align: center;

    border: 1px solid #bbb;

    border-top-color: #888;

    border-left-width:  0px;
    border-right-width: 0px;

    box-shadow: 0px -3px 0px #729fcf;

    border-left:    1px solid #ccc;
    border-right:   1px solid #ccc;
}

#new-kaomoji-input {
}

#new-kaomoji-input:focus {
    outline: none;
}

#info-window {
    position: fixed;
    /* position: relative;*/

    margin:   0px;
    padding: 10px;

    /* width: 300px;*/

    /* margin-left:  auto;*/
    /* margin-right: auto;*/

    background: #fff;

    top:   20px;
    right: 20px;

    border-radius: 3px;

    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.40);

    border-bottom: 3px solid rgba(0, 0, 0, 0.05);

    font-size: 120%;

    z-index: 9000;

    color: #666;
}

#info-window p {
    margin-top:     6px;
    margin-bottom:  6px;
}

#info-window a {
    color: #68a;
}

#info-window a:hover {
    color: #8ac;
}

#modal-overlay {
    display: none;

    position: fixed;

    z-index: 8000;

    top:    0px;
    bottom: 0px;
    left:   0px;
    right:  0px;

    background-color: rgba(238, 238, 238, 0.60);
}

#close-button {
    padding: 6px;

    display: block;

    background-color: #444;
    color: #fff;

    border: 0px solid #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.40);

    font-weight: bold;

    border-radius: 100%;

    cursor: pointer;

    position: absolute;

    top:   -8px;
    right: -8px;

    font-size: 16px;
}

#close-button:hover {
    background-color: #666;
}
