/**
*** Copyright © 2013 Brian Mock & Kyle Paulsen <binary.elk@gmail.com>
*** This work is free. You can redistribute it and/or modify it under the
*** terms of the Do What The Fuck You Want To Public License, Version 2,
*** as published by Sam Hocevar. See the COPYING file for more details.
***
*** This program is free software. It comes without any warranty, to
*** the extent permitted by applicable law. You can redistribute it
*** and/or modify it under the terms of the Do What The Fuck You Want
*** To Public License, Version 2, as published by Sam Hocevar. See
*** http://www.wtfpl.net/ for more details.
**/

html {
    color: #444;
}

html,
body {
    margin:  0px;
    padding: 0px;
}

body {
    margin-left:  9px;
    margin-right: 9px;
}

a {
    text-decoration: none;
}

.bind {
    display: inline-block;
}

#info-message .bind {
    margin: 0px;
}

kbd {
    background: #fff;
    color: #222;

    font-weight: bold;

    border-bottom: 3px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.75);

    display: inline-block;

    padding:       2px;
    padding-left:  4px;
    padding-right: 4px;

    min-width: 1em;

    margin: 3px;

    border-radius: 1px;
}

html,
body,
h1,
h2 {
    font-family:
        "Helvetica",
        "Arial",
        sans-serif;
}

h1,
h2 {
    text-align: center;

    font-size: 18px;

    padding: 10px;
    margin:   4px;
}

h1 {
    margin-top: 16px;
}

h2,
h2 a {
    color: #666;
}

#container .group {
    padding: 0px;
    padding-bottom: 8px;

    margin-bottom: 16px;

    background-color: #eee;
}

#container h2 a {
    margin: 4px;
    min-width: 100px;
    border-radius: 2px;
    border-radius: 6px;
    border-radius: 10px;
    padding:        8px;
    padding-top:    4px;
    padding-bottom: 4px;
    display: inline-block;
    background-color: #92B867;
    color: #fff;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.40);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

#new-kaomoji-input,
.kaomoji {
    font-family: sans-serif;
    font-weight: normal;
    font-size:   16px;

    cursor: pointer;

    display: inline-block;

    color: #666;

    resize: none;

    height: 1.2em;

    min-width: 10em;

    border: 1px solid rgba(0, 0, 0, 0.10);

    margin:   3px;
    padding: 10px;

    vertical-align: top;

    background-color: #eee;

    border-radius: 2px;

    text-align: center;

    position: relative;
    top: 0px;
}

#new-kaomoji-input {
    cursor: auto;
    background: #fff;
    border-color: rgba(0, 0, 0, 0.20);
    border-radius: 1px;
}

#new-kaomoji-input:focus,
#new-kaomoji-input:hover {
    border-color: rgba(0, 0, 0, 0.30);
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.05);
}

.kaomoji.favorited {
    background-color: #D0E6B8;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.10);
}

.kaomoji.favorited:hover {
    background-color: #E1F2CE;
    border-bottom-color: rgba(0, 0, 0, 0.20);
}

.new-kaomoji {
    font-family: sans-serif;
    font-weight: normal;
    font-size:   16px;

    display: inline-block;

    color: #666;

    resize: none;

    height: 1.2em;

    min-width: 10em;

    border: 1px solid #e0e0e0;

    margin:   3px;
    padding: 10px;

    vertical-align: top;

    background-color: transparent;

    background-color: #f0f0f0;

    border-radius: 2px;

    text-align: center;

    position: relative;
    top: 0px;
}

.kaomoji:focus {
    outline: none;
}

.kaomoji:hover {
    background-color: #fafafa;
    border-color: rgba(0, 0, 0, 0.20);
    border-bottom-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.08);
}

.kaomoji:active {
    background-image: none;
}

.kaomoji:active {
    background-color: #eee;

    box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.15);
    border-color: rgba(0, 0, 0, 0.15);
}

#container {
    padding: 0px;
    padding-top: 8px;

    max-width: 760px;

    margin: 0px;

    border-top-width:    0px;
    border-bottom-width: 0px;

    margin-left:    auto;
    margin-right:   auto;
}

h1,
#footer {
    padding: 6px;

    text-align: center;

    font-size: 24px;

    font-weight: bold;
}

h1,
#footer,
#footer a {
    color: rgba(0, 0, 0, 0.45);
    text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.50);
}

#footer a:hover {
    color: rgba(0, 0, 0, 0.55);
}

#footer #copyright:hover {
    color: #fff;
}

#footer,
#copyright {
    color: #ccc;
}

#footer p {
    margin: 2px;
}

#footer {
    margin-top: -12px;
    margin-bottom: 16px;
}

#close-wrapper,
#copyright {
    display: block;
}

#container .group {
    cursor: pointer;

    text-align: center;

}

#new-kaomoji-input {
}

#new-kaomoji-input:focus {
    outline: none;
}

#info-window {
    /* position: fixed;*/
    position: relative;

    display: inline-block;

    margin:   0px;
    padding: 10px;

    background: #fff;

    top:   20px;
    right: 20px;

    border-radius: 2px;

    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.40);

    border-bottom: 3px solid rgba(0, 0, 0, 0.05);

    font-size: 120%;

    z-index: 9000;

    color: #666;
}

#info-window p {
    margin-top:     6px;
    margin-bottom:  6px;
}

#info-window a {
    color: #68a;
}

#info-window a:hover {
    color: #8ac;
}

.message {
    margin-top: 1em;

    box-shadow:
        0px 0px 0px 1px rgba(0, 0, 0, 0.20),
        inset 0px -3px 0px rgba(0, 0, 0, 0.10),
        0px 3px 9px 0px rgba(0, 0, 0, 0.20);

    padding: 9px;

    border-radius: 2px;

    background-color: #fff;
    color: #333;
}

#info-message {
    display: none;

    background-color: #FCF4B0;

    max-width: 200px;

    position: fixed;

    padding-top:     6px;
    padding-bottom: 13px;
    padding-left:    0px;
    padding-right:   0px;

    top:    0px;
    right:  0px;

    margin: 6px;

    z-index: 100;
}

#info-message h2,
#info-message .tip {
    padding-left:  12px;
    padding-right: 12px;
}

#info-message .tip {
    text-align: left;
}

#info-message,
#info-message h2,
#info-message a {
    color: #807733;
}

#info-message a {
    border-radius: 10px;

    padding:        8px;
    padding-top:    2px;
    padding-bottom: 2px;
}

#info-message a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

#info-message h2 {
    margin: 0px;

    padding-top: 3px;
}

#info-message .tip {
    display: block;
    margin-top:    3px;
    margin-bottom: 3px;
}

#info-message h2,
#info-message .tip {
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.10);
}

#info-message .tip:first-child {
}

#info-message div {
    margin-top: 9px;
    text-align: center;
}

#info-message a {
    font-weight: bold;
    font-size: 80%;
}

#modal-overlay {
    display: none;

    position: fixed;

    z-index: 8000;

    top:    0px;
    bottom: 0px;
    left:   0px;
    right:  0px;

    background-color: rgba(238, 238, 238, 0.60);

    text-align: center;
}

#close-wrapper {
    margin-bottom: -3px;
    margin-top:    10px;
    margin-left:  -10px;
    margin-right: -10px;

    border-top: 1px solid rgba(0, 0, 0, 0.08);
}

#close-button {
    display: inline-block;

    margin-top: 6px;

    padding:        2px;
    padding-left:   4px;
    padding-right:  4px;

    font-size: 75%;

    font-weight: bold;

    border-radius: 6px;
}

#close-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

a#close-button:hover {
    color: #333;
}
