html {
    background-color: #ddd;
    color: #444;
}

html,
body {
    margin:  0px;
    padding: 0px;
}

body {
    margin-left:  9px;
    margin-right: 9px;
}

a {
    text-decoration: none;
}

h1,
h2 {
    font-family:
        "Helvetica",
        "Arial",
        sans-serif;

    text-align: center;

    font-size: 18px;

    padding: 10px;
    margin:   4px;
}

h2,
h2 a {
    color: #666;
}

#footer,
h2 {
    margin-top: 16px;
}

#groups {
    position: fixed;

    /* display: none;*/

    top:    0px;
    left:   0px;

    padding:  0px;
    margin:   0px;

    padding-left:   0px;
    padding-right:  0px;

    border: 3px solid #fff;

    border-top-width:   0px;
    border-left-width:  0px;

    border-radius: 8px;
    border-bottom-left-radius:  0px;
    border-top-left-radius:     0px;
    border-top-right-radius:    0px;

    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.30);

    z-index: 4000;

    opacity: 0.50;
}

#groups,
#groups select {
    background-color: #333;
    color: #ccc;

    font-weight: bold;

    cursor: pointer;
}

#groups:before {
    cursor: pointer;

    position: fixed;
    content: "Jump to...";
    top:  1px;
    left: 6px;
    width: 80px;

    margin:  0px;
    padding: 0px;

    font-size:  16px;
    line-height: 16px;

    font-family:
        "Lucida Grande",
        "Segoe UI",
        sans-serif;

    font-weight: bold;
}

#groups:hover,
#groups:hover select {
    background-color: #444;
    color: #fff;
}

#groups select {
    border: none;

    padding: 0px;

    opacity: 0.00;

    width:  90px;
    height: 22px;
}

#groups select:focus {
    outline: none;
}

h1 {
    color: #fff;
    background-color: #ccc;

    border: 1px solid #bbb;
    border-top-width: 0px;
    border-bottom-color: #bbb;

    border-bottom-left-radius:  2px;
    border-bottom-right-radius: 2px;

    box-shadow: inset 0px 3px 0px rgba(0, 0, 0, 0.05);
}

.kaomoji {
    font-family: sans-serif;
    font-weight: normal;
    font-size:   16px;

    cursor: pointer;

    display: inline-block;

    color: #666;

    resize: none;

    height: 1.2em;

    min-width: 10em;
    /* max-width: 99em;*/
    /* width:     auto;*/

    /* border: 1px solid #ddd;*/
    border: 1px solid #e0e0e0;

    margin:   3px;
    padding: 10px;

    vertical-align: top;

    background-color: transparent;

    /* border-color: #ccc;*/
    background-color: #f0f0f0;

    border-radius: 2px;

    text-align: center;

    position: relative;
    top: 0px;
}

.kaomoji:focus {
    outline: none;
}

.use-animations .kaomoji {
    -webkit-transition-duration: 0.10s;
            transition-duration: 0.10s;

    -webkit-transition-property: top;
            transition-property: top;
}

.use-animations .kaomoji:active {
    /* -webkit-transition-property: top, box-shadow, border-color;*/
    /*         transition-property: top, box-shadow, border-color;*/

    -webkit-transition-property: top;
            transition-property: top;
}

.kaomoji:hover {
    background-color: #fff;

    /* border-color: rgba(0, 0, 0, 0.50);*/
    /* box-shadow: inset 0px 0px 0px 3px #729fcf;*/

    /* border-bottom-color: rgba(0, 0, 0, 0.20);*/
    border-bottom-color: rgba(0, 0, 0, 0.50);
    background-image: -webkit-linear-gradient(top,       #fafafa, #f0f0f0);
    background-image:    -moz-linear-gradient(top,       #fafafa, #f0f0f0);
    background-image:     -ms-linear-gradient(top,       #fafafa, #f0f0f0);
    background-image:         linear-gradient(to bottom, #fafafa, #f0f0f0);
    /* box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.05);*/
    box-shadow: 0px 3px 0px 0px #729fcf;
    /* box-shadow: inset 0px -3px 0px 0px #729fcf;*/
}

.kaomoji:active {
    background-image: none;
}

.use-push-effect .kaomoji:active {
    top: 3px;

    background-color: #eee;

    box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.30);
    border-color: rgba(0, 0, 0, 0.25);
}

#toast {
    position: fixed;

    top:    10px;
    right:  10px;

    background-color: rgba(64, 64, 64, 0.80);
    color: #fff;

    padding:        4px;
    padding-left:   8px;
    padding-right:  8px;

    border-radius: 8px;

    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.50);

    border: 3px solid #fff;

    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.50);

    font-family: sans-serif;
    font-weight: bold;
    font-size:   18px;

    z-index: 8000;

    -webkit-transition-duration: 0.20s;
            transition-duration: 0.20s;

    -webkit-transition-property: opacity;
            transition-property: opacity;
}

#toast.hidden {
    top: -20px;

    opacity: 0;

    -webkit-transition-duration: 0.50s;
            transition-duration: 0.50s;

    -webkit-transition-property: opacity, top;
            transition-property: opacity, top;
}

#container {
    list-style-type: none;

    padding: 0px;

    max-width: 760px;

    /* box-shadow: 0px 0px 0px 1px #aaa;*/

    border: 0px solid #fff;

    border-top-width:    0px;
    border-bottom-width: 0px;

    margin-left:    auto;
    margin-right:   auto;

    /* margin-left: 150px;*/
}

#footer {
    background-color: #444;
    box-shadow: 0px -3px 0px #aaa;

    border: 1px solid rgba(0, 0, 0, 0.10);

    border-bottom-width: 0px;

    padding: 6px;

    text-align: center;

    font-size: 12px;

    color: #ccc;
    background-color: #444;

    font-family: sans-serif;
    font-weight: bold;

    border-top-left-radius:  2px;
    border-top-right-radius: 2px;
}

#footer a {
    color: #729fcf;
    border-radius: 1em;

    padding-left:  4px;
    padding-right: 4px;
}

#footer a:hover {
    color: #acd;
    background-color: rgba(255, 255, 255, 0.10);
}

#footer #copyright:hover {
    color: #fff;
}

h1 a,
h1 {
    color: #444;
    /* border-bottom: 3px solid #fff;*/
    /* box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.20);*/
}

#footer,
#copyright {
    color: #ccc;
}

#footer p {
    margin: 2px;
}

a#copyright {
    display: inline-block;
    margin-top: 8px;
    font-size: 16px;
    color: #ccc;
}

#copyright:hover {
    color: #fff;
}

#container .group {
    cursor: pointer;

    background-color: #eee;
    padding: 2px;
    border-radius: 2px;
    /* box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15);*/
    margin-bottom: 0px;
    text-align: center;

    border: 1px solid #bbb;

    border-top-color: #888;

    border-left-width:  0px;
    border-right-width: 0px;

    box-shadow: 0px -3px 0px #729fcf;

    /* box-shadow: 0px 0px 0px 1px #aaa;*/

    border-left:    1px solid #ccc;
    border-right:   1px solid #ccc;
}
